/* styles/globals.css */

@font-face {
  font-family: 'FuenteTitulo';
  src: url('/fonts/Fuente-Titulo.ttf') format('truetype');
}


@font-face {
  font-family: 'TimeBurner';
  src: url('/fonts/timeburnernormal') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TimeBurnerBold';
  src: url('/fonts/timeburnerbold.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins.regular') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'PoppinsBold';
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'PoppinsSemiBold';
    src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'PoppinsRegular';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  }
/* Asegúrate de que las directivas de Tailwind estén aquí también */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clase personalizada para establecer un ancho de 30px */
.w-custom {
    width: 160px;
  }